.customers {
  @extend %section;

  text-align: center;
}

.customers__title {
  @extend %title;

  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.customers__list {
  @extend %list;

  display: flex;
}

.customers__item {
  width: calc((100% - 150px) / 6);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.customers__link {
  @include centeredFlex;

  box-sizing: border-box;
  border: 1px solid $icon-color;
  border-radius: 4px;
  height: 92px;

  transition: border $transition-time $bezier-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.customers__icon {
  fill: $icon-color;
  transition: fill $transition-time $bezier-function;

  .customers__link:hover > &,
  .customers__link:focus > & {
    fill: $accent-color;
  }
}
