.features {
  @extend %section;
  
  background-color: $basic-white;
}

.features__list {
  @extend %list;

  @include centeredFlex($align:none);
}

.features__title {
  @extend %title;

  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
}

.features__item {
  width: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__description{
  @extend %description;
}

.features__bg {
  @include centeredFlex;
  height: 120px;
  background-color: $secondary-bgc;
  margin-bottom: 30px;
  border-radius: 4px;
}
