.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $accent-bgc;
}

.footer__container {
  @include centeredFlex($align:baseline);
}

.footer__title {
  @extend %title;
  
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $basic-white;
}